!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/common.css')
    script(src='/javascripts/jquery-1.6.3.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/connect.js')
    script(src='/javascripts/game.js')
  body
    header
      h1 Draw And Guess 
    section#wrapper!= body